<div class="parallax-window" data-image-src="/assets/img/bai-bg-02.jpg" data-parallax="scroll" id="events">
    <div class="container mx-auto tm-container py-24 sm:py-48">
        <div class="text-center mb-16">
            <h2 class="bg-white-sexy tm-text-brown py-6 px-12 text-4xl font-medium inline-block bg-opacity-90 rounded-md">Our Events</h2>
        </div>
        <div class="flex flex-col lg:flex-row justify-around items-center">
            <div class="flex-1 m-5 rounded-xl px-4 py-6 sm:px-8 sm:py-10 bg-brown bg-opacity-90 tm-item-container">
                <div class="flex items-start mb-6 tm-menu-item">
                    <img alt="Ma Durga" class="rounded-md" src="/assets/img/events1.png">
                    <div class="ml-3 sm:ml-6">
                        <a href="https://rb.gy/owx05" target="_blank" class="text-lg sm:text-xl-events mb-2 sm:mb-3 tm-text-yellow">Durga Puja</a>
                        <div class="text-white text-md sm:text-lg-events font-light mb-1">Venue : HTCI Temple</div>
                        <div class="text-white text-md sm:text-lg-events font-light mb-1">Date : Saturday, Oct 21st 2023</div>
                        <div class="text-white text-md sm:text-lg-events font-light">Time : 6:30pm ~ 8:30pm</div>
                        <div class="mt-5">
                            <a class="inline-block tm-bg-gold transition text-white text-sm pt-2 pb-3 px-8 rounded-md" target="_blank" 
                            href="https://rb.gy/owx05">
                                <i class="fas fa-map-marked-alt mr-3"></i>
                                Open Map
                            </a>
                        </div>
                    </div>
                </div>
                <div class="flex items-start mb-6 tm-menu-item">
                    <img alt="লক্ষ্মী পূজা" class="rounded-md" src="/assets/img/events2.png">
                    <div class="ml-3 sm:ml-6">
                        <a href="https://rb.gy/xd6rg" target="_blank" class="text-lg sm:text-xl-events mb-2 sm:mb-3 tm-text-yellow">Lokkhi Puja</a>
                        <div class="text-white text-md sm:text-lg-events font-light mb-1">Venue : HTCI Temple</div>
                        <div class="text-white text-md sm:text-lg-events font-light mb-1">Date : Friday, Oct 27th 2023</div>
                        <div class="text-white text-md sm:text-lg-events font-light">Time : 6:30pm ~ 8:00pm</div>
                        <div class="mt-5">
                            <a class="inline-block tm-bg-gold transition text-white text-sm pt-2 pb-3 px-8 rounded-md" target="_blank" 
                            href="https://rb.gy/xd6rg">
                                <i class="fas fa-map-marked-alt mr-3"></i>
                                Open Map
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-1 m-5 rounded-xl px-4 py-6 sm:px-8 sm:py-10 bg-brown bg-opacity-90 tm-item-container">
                <div class="flex items-start justify-end mb-6 tm-menu-item-2">
                    <div class="mr-6"> <!--text-right  = this class control text allignment, start from right-->
                        <a  href="https://rb.gy/00jzw" target="_blank" class="text-lg sm:text-xl-events mb-2 sm:mb-3 tm-text-yellow">Bijoya</a>
                        <div class="text-white text-md sm:text-lg-events font-light mb-1">Venue : Billericay Park Building</div>
                        <div class="text-white text-md sm:text-lg-events font-light mb-1">Date : Saturday, Dec 9th 2023</div>
                        <div class="text-white text-md sm:text-lg-events font-light">Time : Evening (TBD)</div>
                        <div class="text-white text-md sm:text-sm-events font-light">Address : 12690 Promise Road</div>
                        <div class="text-white text-md sm:text-sm-events font-light">Fishers, IN 46038</div>
                        <div class="mt-5">
                            <a class="inline-block tm-bg-gold transition text-white text-sm pt-2 pb-3 px-8 rounded-md" target="_blank" 
                            href="https://rb.gy/00jzw">
                                <i class="fas fa-map-marked-alt mr-2"></i>
                                Open Map
                            </a>
                        </div> 
                    </div> 
                    <img alt="বিজয়া" class="rounded-md" src="/assets/img/events3.png">
                </div>
                <div class="mt-5 fa-pull-right">
                    <button id="shareButton" (click)="shareLink()" class="inline-block tm-bg-gold transition text-white text-sm pt-2 pb-3 px-8 rounded-md" target="_blank">
                        <i class="fa fa-share mr-3"></i>
                        Share Events
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
