<nav class="fixed w-full" id="tm-nav" *ngIf="isLoggedIn; else notLoggedInMenu"  >
  <div class="tm-container mx-auto px-2 md:py-6 text-right">
      <button class="md:hidden py-2 px-2" id="menu-toggle"><i class="fas fa-2x fa-bars tm-text-gold"></i></button>
      <ul class="mb-3 md:mb-0 text-2xl font-normal flex justify-end flex-col md:flex-row">
          <li class="inline-block mb-4 mx-4"><a class="tm-text-gold py-1 md:py-3 px-4" href="./#home">Profile1</a></li>
          <li class="inline-block mb-4 mx-4"><a class="tm-text-gold py-1 md:py-3 px-4" href="./#events">Profile2</a>
          </li>
          <li class="inline-block mb-4 mx-4"><a class="tm-text-gold py-1 md:py-3 px-4" href="./#about">About</a>
          </li>                
          <li *ngIf="admin"  class="inline-block mb-4 mx-4"><a class="tm-text-gold py-1 md:py-3 px-4" href="./#member">Admin</a>
            <ul class="submenu">
              <li class="mb-1 mx-auto" ><a class="tm-text-gold text-lg py-1 md:py-3 px-4"  (click)="showLoginPage()">Admin1</a></li>
              <li class="mb-1 mx-auto" ><a class="tm-text-gold text-lg py-1 md:py-3 px-4" (click)="registrationForm()">Admin2</a></li>
            </ul>
          </li>
          <li class="inline-block mb-4 mx-4"><a class="tm-text-gold py-1 md:py-3 px-4" href="#contact">Logout</a>
          </li>
      </ul>
  </div>
</nav>
<ng-template #notLoggedInMenu>
<nav class="fixed w-full" id="tm-nav" >
  <div class="tm-container mx-auto px-2 md:py-6 text-right">
      <button class="md:hidden py-2 px-2" id="menu-toggle"><i class="fas fa-2x fa-bars tm-text-gold"></i></button>
      <ul class="mb-3 md:mb-0 text-2xl font-normal flex justify-end flex-col md:flex-row">
          <li class="inline-block mb-4 mx-4"><a class="tm-text-gold py-1 md:py-3 px-4" href="./#home">Home</a></li>
          <li class="inline-block mb-4 mx-4"><a class="tm-text-gold py-1 md:py-3 px-4" href="./#events">Events</a>
          </li>
          <li class="inline-block mb-4 mx-4"><a class="tm-text-gold py-1 md:py-3 px-4" href="./#about">About</a>
          </li>                
          <li class="inline-block mb-4 mx-4"><a class="tm-text-gold py-1 md:py-3 px-4" href="./#member">Member</a>
            <ul class="submenu">
              <li class="mb-1 mx-auto" ><a class="tm-text-gold text-lg py-1 md:py-3 px-4"  (click)="showLoginPage()">Log-in</a></li>
              <li class="mb-1 mx-auto" ><a class="tm-text-gold text-lg py-1 md:py-3 px-4" (click)="registrationForm()">Register</a></li>
            </ul>
          </li>
          <li class="inline-block mb-4 mx-4"><a class="tm-text-gold py-1 md:py-3 px-4" href="#contact">Contact</a>
          </li>
      </ul>
  </div>
</nav>
</ng-template>