<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
  rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
  integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<!-- <nav>
    <ul>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/events">Events</a></li>
      <li><a routerLink="/about">About</a>
        <ul>
          <li><a routerLink="/about/executive-committee">Executive Committee</a></li>
          <li><a routerLink="/about/by-laws">BY-LAWS</a></li>
        </ul>
      </li>
      <li><a routerLink="/member">Member</a></li>
      <li><a routerLink="/contact">Contact</a></li>
    </ul>
  </nav> -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar w/ text</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
        </ul>
        <span class="navbar-text">
          Navbar text with an inline element
        </span>
      </div>
    </div>
  </nav>

<!-- 
  <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="tm-container mx-auto px-2 md:py-6 text-right">
        <button class="md:hidden py-2 px-2" id="menu-toggle"><i class="fas fa-2x fa-bars tm-text-gold"></i></button>
        <ul class="mb-3 md:mb-0 text-2xl font-normal flex justify-end flex-col md:flex-row">
            <li class="inline-block mb-4 mx-4"><a class="tm-text-gold py-1 md:py-3 px-4" routerLink="/home">Home</a></li>
            <li class="inline-block mb-4 mx-4"><a class="tm-text-gold py-1 md:py-3 px-4" routerLink="/events">Events</a>
            </li>
            <li class="inline-block mb-4 mx-4"><a class="tm-text-gold py-1 md:py-3 px-4" routerLink="/about">About</a>
            </li>                
            <li class="inline-block mb-4 mx-4"><a class="tm-text-gold py-1 md:py-3 px-4" routerLink="/member">Member</a>
            </li>
            <li class="inline-block mb-4 mx-4"><a class="tm-text-gold py-1 md:py-3 px-4" routerLink="/contact">Contact</a>
            </li>
        </ul>
    </div>
</nav> -->
 