<div class="parallax-window" data-image-src="/assets/img/bai-bg-member.jpg" data-parallax="scroll" id="member">
    <div class="container mx-auto tm-container py-24 sm:py-48">
        <div class="text-center mb-16">
            <h2 class="bg-black-sexy tm-text-gold py-6 px-12 text-4xl font-medium inline-block rounded-md bg-opacity-70">Became Member</h2>
        </div>
        <div class="flex flex-col lg:flex-row justify-around items-center">
            <div class="flex-1 m-5 rounded-xl px-4 py-6 sm:px-8 sm:py-10 bg-black-sexy bg-opacity-60 tm-item-container">
                <div class="flex items-start mb-6 tm-menu-item">
                    <img alt="Membership" class="rounded-md" src="/assets/img/member-icon.png">
                    <div class="ml-3 sm:ml-6">
                        <h3 class="tm-text-gold font-semibold mb-2 sm:mb-3 ">Became a member of BAI for added benefits</h3>
                        <div class="mt-5">
                            <a class="inline-block tm-bg-blue transition text-white text-sm pt-2 pb-3 px-8 rounded-md" href="#" 
                            (click)="showLoginPage()">
                                <i class="fa fa-id-badge mr-3"></i>
                                Sign In
                            </a>
                            <br>
                            <br>
                        </div>
                        <div class="text-white sm:text-sm font-semibold">Please 
                           <a class="link-style" (click)="registrationForm()"> Sign Up </a>
                            to became a new memeber</div>
                    </div>
                </div>
            </div>
            <div class="flex-1 m-5 rounded-xl px-4 py-6 sm:px-8 sm:py-10 bg-black-sexy bg-opacity-50 tm-item-container">
                <div class="flex items-start justify-end mb-6 tm-menu-item-2">
                    <div class="mr-6"> <!--text-right  = this class control text allignment, start from right-->
                        <h3 class="text-lg sm:text-xl mb-2 sm:mb-3 tm-text-yellow">Scan from your phone</h3>
                    
                        <div class="text-white text-md sm:text-lg font-light">This will take you to the payment page.</div>
                    </div>
                    <img alt="PayPal QR Code - Please scan" class="rounded-md" src="/assets/img/bai-paypal-qr.png">
                </div>
                <div class="mt-5">
                    <a class="inline-block tm-bg-blue transition text-white text-xl pt-3 pb-4 px-8 rounded-md" href="ec.html">
                        <i class="fa fa-gift mr-3"></i>
                        Donate
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
