<div class="parallax-window relative" data-image-src="/assets/img/ec-bg.jpg" data-parallax="scroll" id="contact">
    <div class="container mx-auto tm-container pt-24 pb-48 sm:py-48">
        <div class="text-center mb-16">
            <h2 class="bg-white-sexy tm-text-brown py-6 px-12 text-4xl font-medium inline-block rounded-md bg-opacity-70">Executive Committee (2023-27)</h2>
        </div>
        <div class="flex flex-col lg:flex-row justify-around items-center">
            <div class="flex-1 m-5 rounded-xl px-4 py-6 sm:px-8 sm:py-10 bg-black-sexy bg-opacity-60 tm-item-container">
                <div class="flex items-start mb-6 tm-menu-item">
                    <img alt="Ma Durga" class="rounded-md" src="/assets/img/committee-1.png">
                    <div class="ml-3 sm:ml-6">
                        <h3 class="text-lg sm:text-xl mb-2 sm:mb-3 tm-text-yellow">Members</h3>
                        <div class="text-white text-md sm:text-lg font-light mb-1">President: - Dr. Nandita Das</div>
                        <div class="text-white text-md sm:text-lg font-light">Vice-President: Sonali Chanda</div>
                        <div class="text-white text-md sm:text-lg font-light">Treasurer: Abhijit Das</div>
                        <div class="text-white text-md sm:text-lg font-light">Secretaries: Sudip Biswas, Kamalika Chatterjee</div>
                    </div>
                </div>
            </div>
            <div class="flex-1 m-5 rounded-xl px-4 py-6 sm:px-8 sm:py-10 bg-black bg-opacity-50 tm-item-container">
                <div class="flex items-start justify-end mb-6 tm-menu-item-2">
                    <img alt="Committee" class="rounded-md" src="/assets/img/coming-soon-1.png">
                </div>
            </div>
        </div>
    </div>
</div>