<!-- Home -->
<div class="parallax-window" data-image-src="/assets/img/bai-bg-01.jpg" data-parallax="scroll" id="home">
    <div class="container mx-auto px-2 tm-home-width">
        <div class="sm:pb-60 sm:pt-48 py-20">
            <div class="bg-black-sexy bg-opacity-70 p-12 mb-5 text-center">
                <h1 class="text-white text-5xl tm-logo-font mb-5">BAI</h1>
                <p class="tm-text-gold tm-text-2xl">Bengali Association of Indiana</p>
            </div>
            <div class="bg-black-sexy bg-opacity-70 p-10 mb-5">
                <p class="text-white leading-8 text-sm font-light">
                    The Bengali Association of Indiana (BAI) is a non-profit socio-cultural organization.
                    The main objectives of BAI are to engage in educational, cultural,
                    and religious celebrations of Bengal and the Indian subcontinent.
                    We foster the spirit of friendship and cooperation among our members and local and global
                    communities.
                    The membership is open to all who believe in the objectives of the BAI, irrespective of race,
                    religion, color, gender, age or national origin.
                    If you have any question, please <a href="#contact" rel="nofollow" target="_parent">send us a message</a>.
                </p>
            </div>
            <div class="text-center">
                <div class="inline-block">
                    <a class="flex justify-center items-center bg-black-sexy bg-opacity-70 py-6 px-8 rounded-lg font-semibold tm-text-2xl tm-text-gold hover:text-gray-200 transition"
                       routerLink="/announcements">
                       <i class="fas fa-bullhorn mr-3"></i>
                       <span>Latest Announcements...</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<app-events></app-events>
<app-about></app-about>
<app-member></app-member>
<app-contact></app-contact>


